<h1>Run Report</h1>
<ul>
{% for item in toc %}
<li><a href="#{{item.anchor}}">{{item.heading}}</a></li>
{% endfor %}
</ul>
{% for section in sections %}
<div style="border: 1px solid #ccc;">
<h3><a name="{{section.anchor}}"></a>{{section.heading}}</h3>
</div>
{% if section.content %}
<div style="border: 1px solid #ccc;"><p>
<div>
{% if section.content.list %}
    {{section.content.start}}
    <ul>
    {% for list_item in section.content.list %}
     <li>{{list_item}}</li>
    {% endfor %}
    </ul>
    {{section.content.end}}
{% else %}
    {{section.content}}
{% endif %}
</div>
</p></div>
{% endif %}
{% if section.summary_data %}
<table>
<tbody>
<tr>
    {% for header in section.summary_data.headers %}
<th style="width:{{header.width}}%" colspan="{{header.colspan}}">
{% if header.text %}
    {{header.text}}
{% else %}
    {{header.type}} ({{header.limit}} or more from last {{header.events}} events)
{% endif %}
</th>
    {% endfor %}
</tr>
{% for row in section.summary_data.data %}
<tr>
    {% for column in row %}
    <td>
        {{column}}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if section.photos %}
{# TODO add &nbsp; between pictures if portrait and odd count #}
{% for photo in section.photos %}
    <img src="{{photo.link}}" alt="{{photo.alt}}" width="{{photo.width}}" height="{{photo.height}}"/>{{photo.text}}
{% endfor %}
{% endif %}
{% if section.separator %}
<div style="height: 10px;"></div>
{% endif %}
{% endfor %}